* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}
html,
body {
  background-color:#06030f;
  width: 100%;
  cursor: none;
  scroll-behavior: smooth;
  /* overflow: -moz-scrollbars-none; For Firefox */
    /* -ms-overflow-style: none; For IE and Edge */
    /* scrollbar-width: none; For Firefox */
}
*::selection{
  background-color: yellow;
  color: #000;
}
#main {
  position: relative;
  display:flex;
  justify-content: center;
  width:100vw;
  background-color: #0b0b0b;




}

#page1 {
  height: 100vh;
  width: 100vw;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  flex:1;

}

#page1 h1 {
  font-size: 4rem;
}
#text-box {
  width: 50%;
  height: 20%;
  position: absolute;
  bottom: 0;
}
#page1 p {
  font-size: 1.6rem;
  text-align: center;
}

#cursor {
  background: yellow;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 500;
}
nav {
  position: fixed;
  top: 5%;
  display: flex;
  width: 32vw;
  height: 16vh;
  background-color: #1d1a1a85;
  border: 0.1em solid #fff;
  border-radius: 15rem;
  padding: 1px;
  /* justify-self: center; */
  /* left:50%; */
  /* transform: translate(-50%,-10%); */
  /* margin-bottom: 5vh; */
  color: #fff;
  z-index: 400;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #fff;
}

nav ul li {
  padding: 0.4em;
  border-radius: 12rem;
  transition: all ease 0.3s;
}
nav ul li:hover {
  background-color: yellow;
  color: #000;
}
#page2{
 width:100vw;
 min-height: 118vh;
 display: flex;
 align-items: center;
 position: absolute;
 top:100vh;
 flex-direction: column;
 /* padding:1rem; */
 
}
#text{
  width:100vw;
  height:40vh;
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:1%;
}
#text h1{
  /* font-size: 4rem; */
  margin-bottom: 1rem;
}
.cards{
  width:95vw;
  height:50vh;
  /* background-color: #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:#000;
  /* border-radius: 5rem; */

 
}
#pr1{
  background: #ccc;
  top: 130%;

}
#pr2{
  background: #222222;
  top:230%;

}
#pr3{
  background: #60e645;
  top:260%;

}
#pr4{
  background: #999595;
  top:290%;

}

#page3{
  width:100vw;
  height:100vh;
  position: absolute;
  top:350vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: red; */
}
#top{
  width:100vw;
  height:50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:#fff;

}
#top h1{
  font-size: 4rem;
  margin-left: 2rem;
}
#bottom{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  /* border-radius: 50%; */
  border-top: 0.1em solid #fff;
  /* background: red; */
  height:50vh;
  width:90vw;
}
.skillCard{
  width: 5rem;
  height:5rem;
  /* background-color: #fff; */
  border-radius: 1rem;
  margin-left: 2rem;
  padding:1em;
  scale:1.5;
}

.skillCard img{
  width: 100%;
}


#page4{
  position:absolute;
  width:100vw;
  height:100vh;
  top:370vh;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow-x:hidden ;
  /* background-color: #000; */
}
#page4Text{
  /* background-color: #fff; */
  color:#fff;
  font-size: 4rem;
}
#page4Text h1:first-child{
 margin-left: 8vw;
}
#page4Text h1:nth-child(2) {
  margin-left: 22vw;
}
#page4Text h1:last-child{
  margin-left: 30vw;
  margin-right: 3vw;
}
#page5{
  /* background-color: #000; */
  position:absolute;
  top:470vh;
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#page5 #page5Text{
  height:60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  /* background-color: #fff; */
}
#page5 #page5Text h2:first-child{
  font-size:5.8rem;
  color:#ffffff8e;
  font-weight: 400;
  margin:0 auto;

}
#page5 #page5Text h2:last-child{
  font-size:5.8rem;
  color:#fff;
  font-weight: 400;
  margin:0 auto;

}
#page5 a{
  text-decoration: none;
  color:#fff;
}
#page5 a p{
  text-decoration: none;
  color:#fff;
  text-align: center;
  margin-top: 6vh;
  /* background: yellow; */
  /* color:#000; */
  border-radius: 1rem;
  padding: 0.4em;
  transition: all ease 1s;
  /* width: 23vw; */

  
}
#page5 a p:hover{
background:yellow;
color:#000;
}
#social{
  height: 20vh;
  margin-top: 10vh;
  font-size:1.7em;
  text-align: center;
}
#social a{
  margin:0 1.6vw 0 1.6vw;
  padding: 0.2em;
  border-radius: 50%;
}
#social a:hover{
  background-color: yellow;
  color:#000;
}


