@import "tailwindcss";


@font-face{
  font-family: 'GLIKEMA';
  src: url('./assets/GLIKEMA.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


:root { 
   --breakpoint-sm: 340px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --font-family-glikema: 'GLIKEMA', serif;
    
  }

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, .heading {
  font-family: 'Space Grotesk', sans-serif;
}

.name {
  font-family: var(--font-family-glikema);
}



